---
const { dataHeaderColor, image, title, subtitle, description, buttons, bottomText, footerLinks } = Astro.props
const darkButton = "bg-zinc-900/[.6] text-white"
const lightButton = "bg-white text-zinc-900"

---

<section
  id={title}
  class="landing-section bg-black w-full h-screen mobile:h-dvh text-center relative overflow-hidden"
  data-header-color={dataHeaderColor}
>
  <div class="z-30 relative h-full flex flex-col">

    <!-- Titles -->
    <header class="pt-20">
      <h2 class={`text-${dataHeaderColor} text-[40px] font-medium`}>{title}</h2>
      { subtitle && <p class={`text-${dataHeaderColor} text-sm ${subtitle.underline && "underline"}`} >{subtitle.text}</p>}
      { description && <p class={`text-${dataHeaderColor} text-sm`}>{description.text}</p> }
    </header>

    <!-- Buttons -->
    <footer class="flex flex-col flex-grow justify-end mb-8">
      <div class="flex flex-col mobile:flex-row gap-x-6 gap-y-4 mx-auto">
        {buttons.map(button => (
          <a
            class={`${button.lightTheme ? lightButton : darkButton} opacity-75 hover:scale-105 duration-300 backdrop-blur rounded font-medium  px-20 py-3 inline-block [&>span]:text-sm`}
            href={button.href}
          >
            <span>{button.text}</span>
          </a>
        ))
        }
      </div>
    </footer>

    <!-- Legal text -->
    {bottomText && <div class={`md:mb-6 mb-6 mx-8 text-xs text-${dataHeaderColor}`}>  <p>{bottomText}</p> </div> }
  
    <!-- Footer Links -->
    { footerLinks &&
      <nav class="md:mb-6 mb-6 md:mx-10 mx-6">
        <ul class="flex justify-center flex-wrap md:gap-x-6 gap-x-4 mx-auto [&>li>a]:text-xs [&>li>a]:font-medium [&>li>a]:text-white">
          {footerLinks.map(link => (
            <li><a href={link.href}>{link.text}</a></li>
          ))
          }
        </ul>
      </nav>
    }
  </div>

  <!-- Background Image -->
  <div class="absolute top-0 bottom-0 h-full w-full z-10">
    <img
      src={image}
      alt={title}
      class="h-full w-full object-center object-cover"
    />
  </div>
</section>

